<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @development.user_id %>
</p>

<%= link_to 'Edit', edit_development_path(@development) %> |
<%= link_to 'Back', developments_path %>
